#index-menu-0 .navbar-toggler {
  color: #000;
}
#index-header4-0 H1 {
  color: #fff8e0;
}
#index-header4-0 P {
  color: #fbf2be;
}
#features1-q P {
  text-align: center;
}
#msg-box4-o .lead P {
  text-align: center;
}
#msg-box4-o .mbr-section-title I {
  text-align: left;
}
#msg-box1-2 H2 {
  color: #ffffff;
}
#footer1-8 P {
  text-align: center;
}
#menu-c .navbar-toggler {
  color: #000;
}
#footer1-e P {
  text-align: center;
}
#msg-box3-j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-g .navbar-toggler {
  color: #000;
}
#footer1-i P {
  text-align: center;
}
#menu-s .navbar-toggler {
  color: #000;
}
#msg-box3-z .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-z .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-z .mbr-section-title {
  color: #fff8e0;
}
#msg-box3-z .lead P {
  color: #ffffff;
}
#footer1-u P {
  text-align: center;
}
#menu-10 .navbar-toggler {
  color: #000;
}
#msg-box3-11 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-11 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-11 .mbr-section-title {
  color: #fff8e0;
}
#msg-box3-11 .lead P {
  color: #ffffff;
}
#footer1-14 P {
  text-align: center;
}
#menu-18 .navbar-toggler {
  color: #000;
}
#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-19 .mbr-section-title {
  color: #fff8e0;
}
#msg-box3-19 .lead P {
  color: #ffffff;
}
#footer1-1d P {
  text-align: center;
}
